<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link th:rel="stylesheet" th:href="@{/css/main.css}">
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <title th:text="${title}">Document</title>
</head>
<body>
<nav th:fragment="menu" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img th:src="@{${'/images/library.jpg'}}" alt="" height="60px">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href=".">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a class="nav-link" th:href="@{'/books?lang=' + ${#locale.language} }" th:text="#{menu.books}"></a>
            </div>
            <div class="navbar-nav">
                <span sec:authorize="isAuthenticated()">
                    <div class="dropdown">
                        <a th:text="${#authentication.principal.name}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/orders" th:text="#{menu.orders}">Pedidos</a>
                            <a class="dropdown-item" href="/cart" th:text="#{menu.cart}">Carrito</a>
                            <a class="dropdown-item" href="/logout" th:text="#{menu.logout}">Cerrar sesión</a>
                        </div>
                    </div>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login" th:text="#{menu.login}">Iniciar sesión</a>
                </span>
            </div>
            <div class="navbar-nav">
                    <a class="nav-link" href="?lang=es">
                        <img th:src="@{${'/images/spain.png'}}" alt="Español" class="flag-icon rounded-circle flag-icon-small">
                    </a>
                    <a class="nav-link" href="?lang=en">
                        <img th:src="@{${'/images/england.png'}}" alt="Español" class="flag-icon rounded-circle flag-icon-small">
                    </a>
            </div>

        </div>
    </div>
</nav>
<footer th:fragment="footer" class="text-center mb-5 fixed-bottom"></footer>
</body>
</html>