<!DOCTYPE html>
<html lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link th:rel="stylesheet" th:href="@{/static/css/main.css}">
    <script th:fragment="jquery" th:src="@{/static/js/main.js}"></script>
    <title th:text="#{app.title}">Document</title>
</head>
<body class="c-body">
<nav th:fragment="menu" th:replace="~{fragments/menu:: menu}">
</nav>

</body>
</html>