<div th:fragment="menu" class="c-header">
    <nav class="c-navbar">
        <ul class="c-navbar__list">
            <!-- Grupo izquierdo -->
            <div class="c-navbar__group c-navbar__group-left">
                <li class="c-navbar__item">
                    <a href="/">BookStore</a>
                </li>
                <li class="c-navbar__item">
                    <a href="/books" th:text="#{menu.books}">Libros</a>
                </li>
            </div>

            <!-- Grupo derecho -->
            <div class="c-navbar__group c-navbar__group-right">
                <!-- Si el usuario está autenticado -->
                <th:block th:if="${requestContext.user != null}">
                    <li class="c-navbar__item c-navbar__item--dropdown" onclick="toggleDropdown(this)">
                        <span th:text="${requestContext.user.username}"></span>
                        <ul class="c-navbar__dropdown-menu">
                            <li class="c-navbar__dropdown-item">
                                <a href="/logout" th:text="#{menu.logout}">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </th:block>

                <!-- Si el usuario no está autenticado -->
                <th:block th:unless="${requestContext.user != null}">
                    <li class="c-navbar__item">
                        <a href="/register" th:text="#{menu.register}">Registro</a>
                    </li>
                    <li class="c-navbar__item">
                        <a href="/login" th:text="#{menu.login}">Login</a>
                    </li>
                </th:block>

                <!-- Dropdown para cambiar idioma -->
                <li class="c-navbar__item c-navbar__item--dropdown" onclick="toggleDropdown(this)">
                    <span th:text="#{menu.lang}">Idioma</span>
                    <ul class="c-navbar__dropdown-menu">
                        <li class="c-navbar__dropdown-item">
                            <a href="javascript:void(0);" onclick="changeLanguage('es')" th:text="#{lang.spanish}">Español</a>
                        </li>
                        <li class="c-navbar__dropdown-item">
                            <a href="javascript:void(0);" onclick="changeLanguage('en')" th:text="#{lang.english}">English</a>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>
</div>
