.container {
    padding-left: 20px;
    padding-right: 20px;
}

.book-card {
    height: 100%;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.book-card:hover {
    transform: scale(1.03);
}

.book-card-img-container {
    height: 200px; /* Fija la altura para todas las imágenes */
    flex-shrink: 0; /* Evita que cambie su tamaño */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.book-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.book-card .card-body {
    padding: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.book-card:hover .overlay {
    opacity: 1;
}

.overlay .btn {
    width: 70%;
    margin: 3px 0;
}
